.random-planet {
  display: flex;
  padding: 1rem;
}

.random-planet .planet-image {
  width: 14%;
  height: 14%;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-planet .list-group {
  margin: .1rem 0 0 .1rem;
}

.random-planet .list-group-item {
  padding: .2rem;
  padding-left: .5rem;
}