.app {
  padding: 10px;
}

.button-row {
  margin: 0 0 1rem 0;
}

.button-row button {
  margin-right: 1rem;
}

.app .row {
  margin-bottom: 1rem;
}

.app h2 {
  margin-bottom: 1.5rem;
  padding: .5rem;
  padding-left: 10rem;
}

.app .app-title {
  text-align: center;
  padding: .5rem;
}
