.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.item-details .item-image {
  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: .25rem;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}