.header {
  margin: 1rem 0;
}

/* .header nav a {
  display: block;
  margin: 0 .2rem;
  padding: .5rem 1rem;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.header nav {
  margin-left: 2rem;
}

.header nav a:hover {
  background-color: #444444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 {
  margin: 0;
  padding-top: .2rem;
}

.header h3 a {
  padding: .5rem;
  color: #ffffff;
}

.header h3 a:hover {
  color: #00bc8c;
} */